__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/
.DS_Store
.idea/
.vscode/
*.egg-info/
build/
dist/
target/
node_modules/
examples/mysite/title_page/subpage/water/science/fmu/**/md/
examples/mysite/title_page/subpage/water/science/fmu/**/index.html
examples/mysite/title_page/subpage/water/science/fmu/**/generate_fmu_page.py
